name: Hello World!

on:
  push:
    branches:
      - main

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    steps:
      - name: Say hello
        run: |
          echo "Hello World!"
  data_job:
    runs-on: ubuntu-latest
    steps:
      - name: Show data
        run: |
          date
  directory_job:
    runs-on: ubuntu-latest
    steps:
      - name: Show directory
        run: |
          ls -l
