name: Deployment pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches: [main]
    types: [opened, synchronize]
jobs:
  simple_deployment_pipeline:
    needs: [env_variables]
    if: ${{ github.event_name == 'push' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install dependencies
        run: npm install
      - run: npm run eslint
      - run: npm run test
      - name: build
        if: ${{ contains(needs.env_variables.outputs.commit_message, '#skip') == 'false' }}
        run: npm run build
  tag_release:
    needs: [simple_deployment_pipeline, env_variables]
    if: ${{ github.event_name == 'push' && contains(needs.env_variables.outputs.commit_message, '#skip') == 'false'}}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: '0'
      - uses: anothrNick/github-tag-action@1.75.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAG_PREFIX: v
          DEFAULT_BUMP: patch
  env_variables:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: github context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - name: commits
        env:
          COMMITS: ${{ toJson(github.event.commits) }}
        run: echo "$COMMITS"
      - name: commit messages
        env:
          COMMIT_MESSAGES: ${{ toJson(github.event.commits.*.message) }}
        run: echo "$COMMIT_MESSAGES"
    outputs:
      commit_message: ${{ join('COMMIT_MESSAGES') }}
  success_notification:
    name: success notification
    needs: [tag_release]
    uses: rjstone/discord-webhook-notify@v2
    if: success()
    with:
      webhookUrl: ${{ secrets.DISCORD_WEBHOOK }}
      username: Cool user
      severity: info
      details: All tests passed and a new version has been deployed to production!
